body{
    background-color: rgb(56, 54, 54);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    animation-name: chachaslide;
    animation-duration:20s;
    animation-iteration-count: 1;

    /*animation-name: slideLeft;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.24, -1, 0.48, 2.01);
*/
}
@keyframes chachaslide {
    /*one hop this time*/
    5%{transform: translateY(0%)}
    7%{transform: translateY(-100%)}
    9%{transform: translateY(0%)}
    /*one hop this time*/
    14%{transform: translateY(0%)}
    16%{transform: translateY(-100%)}
    18%{transform: translateY(0%)}
    /*right foot two stomps*/  
    28%{transform: rotateZ(0deg)}
    29%{transform: rotateZ(15deg)}
    30%{transform: rotateZ(0deg)}
    31%{transform: rotateZ(0deg)}
    32%{transform: rotateZ(15deg)}
    33%{transform: rotateZ(0deg)}
    /*left foot two stomps*/ 
    36%{transform: rotateZ(0deg)}
    37%{transform: rotateZ(-15deg)}
    38%{transform: rotateZ(0deg)}
    39%{transform: rotateZ(0deg)}
    40%{transform: rotateZ(-15deg)}
    41%{transform: rotateZ(0deg)}
    /*slide to the right*/
    42%{transform: translateX(0%)}
    47%{transform: translateX(-100%)}
    /*slide to the left*/
    50%{transform: translateX(0%)}
    53%{transform: translateX(100%)}
    56%{transform: translateX(0%)}
    /*criss cross*/  
    60%{transform: rotateY(0deg)}
    62%{transform: rotateY(180deg)}
    64%{transform: rotateY(0deg)}
    /*criss cross*/  
    71%{transform: rotateY(0deg)}
    73%{transform: rotateY(180deg)}
    75%{transform: rotateY(0deg)}
    /*cha cha real smooth*/ 
    85%{filter:saturate(1)}
    100%{filter:saturate(100)}
}






@keyframes slideLeft{
    from{transform: translateX(300%)}
}
@keyframes slideRight{
    to{transform: translateX(300%)}
}
@keyframes slideUp{
    50%{transform: translateY(-100%)}
}
@keyframes slideDown{
    to{transform: translateY(300%)}
}
@keyframes rotate{
    50%{transform: rotateZ(360deg)}
}
@keyframes grow {
    50%{transform: scale(2,2);}
}
@keyframes shrink {
    50%{transform: scale(0.5,0.5);}
}
@keyframes fade {
    50%{opacity: 1;}
}
@keyframes colorChange {
    0%{background-color: hsl(0, 88%, 47%)}
    20%{background-color: hsl(39, 88%, 47%)}
    40%{background-color: hsl(54, 92%, 56%)}
    60%{background-color: hsl(132, 92%, 56%)}
    80%{background-color: hsl(205, 93%, 42%)}
    100%{background-color: hsl(284, 93%, 42%)}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px hsl(60, 84%, 50%)}
}