body {
    /*display: flex;
    align-items: center;*/
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90vh;
    height: 90vh;
    transform: translateY(-150%)
    /*
        animation-name: chachaslide;
    animation-duration: 20s;
    */
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(216, 92%, 47%);
    border: solid;
    border-radius: 10px;
    font-size: 50px;
    width: 10vh;
    height: 10vh;
    transition: opacity 20s;
}
button:active {
    animation: fadeOut 20s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes chachaslide {
    /*one hop this time*/
    5%{transform: translateY(0%)}
    7%{transform: translateY(-100%)}
    9%{transform: translateY(0%)}
    /*one hop this time*/
    14%{transform: translateY(0%)}
    16%{transform: translateY(-100%)}
    18%{transform: translateY(0%)}
    /*right foot two stomps*/  
    27%{transform: rotateZ(0deg)}
    28%{transform: rotateZ(15deg)}
    29%{transform: rotateZ(0deg)}
    30%{transform: rotateZ(0deg)}
    31%{transform: rotateZ(15deg)}
    32%{transform: rotateZ(0deg)}
    /*left foot two stomps*/ 
    36%{transform: rotateZ(0deg)}
    37%{transform: rotateZ(-15deg)}
    38%{transform: rotateZ(0deg)}
    39%{transform: rotateZ(0deg)}
    40%{transform: rotateZ(-15deg)}
    41%{transform: rotateZ(0deg)}
    /*slide to the right*/
    42%{transform: translateX(0%)}
    47%{transform: translateX(-100%)}
    /*slide to the left*/
    50%{transform: translateX(0%)}
    53%{transform: translateX(100%)}
    56%{transform: translateX(0%)}
    /*criss cross*/  
    60%{transform: rotateY(0deg)}
    62%{transform: rotateY(180deg)}
    64%{transform: rotateY(0deg)}
    /*criss cross*/  
    71%{transform: rotateY(0deg)}
    73%{transform: rotateY(180deg)}
    75%{transform: rotateY(0deg)}
    /*cha cha real smooth*/ 
    85%{filter:saturate(1)}
    100%{filter:saturate(100)}
    100%{transform: translateY(0%)}
}

@keyframes hide {
    1%{}
    100%{transform: translateY(-150%)}
}
