body{
    background-color: rgb(56, 54, 54);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
    transform: translateY(-150%)
    /*
        animation-name: chachaslide;
    animation-duration: 20s;
    */
}

@keyframes chachaslide {
    /*one hop this time*/
    5%{transform: translateY(0%)}
    7%{transform: translateY(-100%)}
    9%{transform: translateY(0%)}
    /*one hop this time*/
    14%{transform: translateY(0%)}
    16%{transform: translateY(-100%)}
    18%{transform: translateY(0%)}
    /*right foot two stomps*/  
    25%{transform: rotateZ(0deg)}
    26%{transform: rotateZ(15deg)}
    27%{transform: rotateZ(0deg)}
    28%{transform: rotateZ(0deg)}
    29%{transform: rotateZ(15deg)}
    30%{transform: rotateZ(0deg)}
    /*left foot two stomps*/ 
    36%{transform: rotateZ(0deg)}
    37%{transform: rotateZ(-15deg)}
    38%{transform: rotateZ(0deg)}
    39%{transform: rotateZ(0deg)}
    40%{transform: rotateZ(-15deg)}
    41%{transform: rotateZ(0deg)}
    /*slide to the left*/
    42%{transform: translateX(0%)}
    47%{transform: translateX(-100%)}
    /*slide to the right*/
    50%{transform: translateX(0%)}
    53%{transform: translateX(100%)}
    56%{transform: translateX(0%)}
    /*criss cross*/  
    60%{transform: rotateY(0deg)}
    62%{transform: rotateY(180deg)}
    64%{transform: rotateY(0deg)}
    /*criss cross*/  
    71%{transform: rotateY(0deg)}
    73%{transform: rotateY(180deg)}
    75%{transform: rotateY(0deg)}
    /*cha cha real smooth*/ 
    85%{filter:saturate(1)}
    85%{scale:1}
    85%{transform: translateY(0%)}
    100%{filter:saturate(100)}
    100%{transform: translateY(25%)}
    100%{scale: 2}
}
